* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Mulish; */
}

/* ------------  Grid Loyout Customization ------------  */
.layout {
    /* width: 1170px; */
    display: grid;
    grid-template-columns: repeat(12, fr);
    grid-template-rows: 100px 50px 50px 700px 100px 250px 100px;
}

.grid_layout {
    width: 100%;
}

.header {
    grid-column: span 12;
    background-color: #F2702A;
}

.navbar {
    grid-column: span 12;
    background-color: #eaebe9;
    display: flex;
    align-items: center;
}

.name {
    grid-column: span 12;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    padding-left: 4rem;
}

.main_content {
    grid-column: span 11;
    background-color: rgb(255, 255, 255);
}

.paginations {
    grid-column: span 12;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.attached_link {
    grid-column: span 12;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

.footer {
    grid-column: span 12;
    margin-top: 2rem;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
}

/* ------------  Grid Loyout Customization ------------  */
.pagination>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 1.5rem;
}

.pag_image {
    position: relative;
    top: 2rem;
}

/* ------------  header CSS start ------------  */
.header_box {
    display: flex;
    justify-content: space-between;
}

.item2 {
    margin-right: 3rem;
}

.image_logo {
    width: 205px;
}

span>i {
    color: white;
}

/* ------------ header CSS END ------------ */


/* ------------  navbar CSS start ------------   */
.nav_item {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.list_item {
    list-style: none;
    font-size: 21px;
    font-weight: 600;
    padding-right: 2rem;
}
.list_item>a:hover{
    color: #F2702A;
}
.list_item>a {
    text-decoration: none;
    color: black;
}

/* ------------  navbar CSS start ------------   */



/* ------------ Name CSS Start ------------  */
.name>p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 4.5rem;

}

/* ------------ Name CSS Start ------------  */


/* ------------  sidebar start ------------  */
.side_list {
    border-top: 1px solid #eaebe9;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 157px;
    justify-content: space-between;
}

.side_list>h3 {
    color: #F2702A;
}
.side_list>h3:hover{
    color: black;
    cursor: pointer;
}
.side_list>p>i {
    font-weight: bolder;
    margin-top: 5px;
    font-size: 17px;
}
.side_list>p>i:hover{
    color: #F2702A;
}
/* ------------ sidebar start ------------   */


/* ------------  main content CSS ------------   */
.content_box {
    width: 94%;
    height: 200px;
    display: flex;
    margin-left: 2.5rem;
    border: 2px solid #736d75;
    border-radius: 8px;

}

.content_image {
    width: 20%;
}

.content_image>img {
    width: 90%;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.content_info {
    width: 55%;
}

.content_info>h3 {
    margin-top: 2rem;
    color: #F2702A;
}
.content_info>h3:hover{
    color: black;
}
.content_info>ul {
    margin-top: 0.5rem;
}

.content_info>ul>li {
    list-style: none;
    font-weight: 400;
}

.content_price {
    width: 25%;
    background-color: #736d75;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.content_price>h1 {
    font-size: 54px;
    color: white;
    padding-right: 1rem;
}

/* ------------  main content CSS ------------   */



/* ------------ pagination CSS  ------------ */
.pagination>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 1.5rem;
}
.pagination>a:hover{
    color: #979797;
}

.pag_image {
    position: relative;
    top: 2rem;
}

/* ------------ pagination CSS  ------------ */



/* ------------ attached_link CSS ------------  */
.bottom_link {
    display: flex;
    justify-content: center;
}

.bottomlogo {
    width: 164px;
}

.text_info {
    padding-right: 4rem;
    margin-left: 3rem;
    border-right: 2px solid #eaebe9;
}

.link {
    padding-left: 5rem;
}

.text_one {
    font-size: 15px;
    font-weight: 700;
}

.text_num {
    font-size: 23px;
    color: #F2702A;
    font-weight: 400;
}

.text_cus {
    font-size: 13px;
    font-weight: 400;
}

/* ------------ attached_link CSS ------------  */



/* ------------ footer CSS ------------ */
.footer>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>ul>li {
    list-style: none;
    color: white;
    padding-right: 3rem;
    font-size: 14px;
}
.footer>ul>li:hover{
    color: #736d75;
}

/* ------------ footer CSS ------------ */